/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}

/* Global stylesheet */
html,
body {
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--white);
  background-color: var(--darkgray);
}

header {
  font-size: x-large;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--lightgray);
  height: 80px;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  /* float: left; */
  /* margin-left: 1em; */
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
  color: var(--white);
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
  color: var(--lightgray);
}

.solution section button {
  border: white solid 2px;
  color: white;
  height: 3em;
  background-color: hsla(0, 0%, 0%, .5);
  border-radius: .5em;
}

.solution, .trend p {
  color: gray;
}

.solution, .trend > div > div {
  background-color: var(--darkgray);
        padding: 1em;
        display: flex;
        flex-direction: column;
}

.solution, .sol-highlights {
  background-color: black;
  color: white;
}

.solution, .sol-highlights > section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.solution, .sol-highlights > h2 {
  margin: 10vw;
}

.solution, .sol-highlights > section > h3 {
  margin: 5vw;
  grid-column: 1 / 2;
}
.solution, .sol-highlights > section > p {
  margin: 5vw;
  grid-column: 2 / 3;
}