---
layout: layouts/base.njk
eleventyNavigation:
  key: Software
  parent: Products
  order: 2
  title: 软件产品
---
<!-- {% set softwares = collections.all %} -->
<section class="hero-grid">
  <article class="hero-article row-start-1 row-span-full col-start-2 col-span-3 gap-4">
    <h1>可视化展示</h1>
    <h5>可视化展示以GIS地图为中心，统计数据为支撑，在地图上展示所有设备、人员的位置信息，并可分层显示。用户点击设备或人员查看具体的属性、状态信息。各种数据的实时统计信息以图表方式展示，动态更新。还可实时显示设备的事件报警信息。</h5>
    <a href="/products/software/visdemo">
      <button class="btn-more">了解更多</button>
    </a>
  </article>
  <img class="col-span-full row-start-1 row-span-full" src="/img/03-prod-soft/Visual display.png"/>
</section>
<section class="hero-grid">
  <article class="hero-article row-start-1 row-span-full col-start-9 col-span-3 text-black">
    <h1>管理中心</h1>
    <h5>管理后台是整个平台的数据中心和管理中心，其主要功能包括：用户中心、设备中心、消息中心、运维中心、资料管理、统计分析及系统管理。</h5>
    <a href="/products/software/managementcenter">
      <button class="btn-more">了解更多</button>
    </a>
  </article>
  <img class="col-span-full row-start-1 row-span-full" src="/img/03-prod-soft/control center.png"></img>
</section>
<section class="hero-grid grid-rows-6">
  <article class="hero-article col-start-4 col-span-6 row-start-2 row-span-2">
    <h1>移动端小程序</h1>
    <h5>移动端微信小程序具备设备监测、生产数据统计、设备日志、账号管理、设备事件、微信推送、维保信息、产品资料、设备维护、位置查看、消息中心、服务申请等功能。</h5>
    <a href="/products/software/mobileapp">
      <button class="btn-more">了解更多</button>
    </a>
  </article>
  <img class="col-span-full row-start-1 row-span-full" src="/img/03-prod-soft/Mobile applet.png"></img>
</section>
