@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}

/* Global stylesheet */
@layer base {
  html,
  body {
    padding: 0;
    font-family: "SourceHanSansCN", "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--white);
    background-color: var(--darkgray);
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  p {
    font-size: 0.6rem;
  }
}

@layer components {
  .btn-more {
    @apply w-24 border-current border-2 rounded-full px-2 py-1 text-sm text-current;
  }
  .hero {
    @apply flex flex-col items-center gap-8;
  }
  .hero-grid {
    @apply grid grid-cols-12 items-center justify-items-center;
    & > img {
      @apply col-span-full row-span-full object-cover h-full;
    }
    & ul {
      @apply grid grid-cols-3 grid-rows-3 gap-y-2 gap-x-8 list-disc;
    }
  }
  .hero-article {
    @apply row-span-full z-0 flex flex-col justify-center gap-y-8;
  }
  .card {
    @apply flex flex-col items-center gap-2;
  }

  .xdark {
    @apply bg-black text-white;
  }

  .dark {
    @apply bg-gray-900 text-gray-50;
  }

  .light {
    @apply bg-gray-200 text-black;
  }

  .xlight {
    @apply bg-white text-black;
  }

  header {
    color: white;
    height: 80px;

    /* Nav */
    & > nav > ul {
      align-items: baseline;

      & li {
        transition-duration: 0.5s;

        &:hover {
          cursor: pointer;
        }

        & > ul {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s ease;
          margin-top: 1rem;
          display: none;
        }

        &:hover > ul,
        & > ul:hover {
          visibility: visible;
          opacity: 1;
        }
      }

      & > li.nav-folder {
        @apply flex flex-col justify-around;
        & > ul {
          width: 100%;
          @apply flex-1 flex justify-around text-xl;

          & > li {
            @apply flex-1;
          }
        }
      }
    }
  }

  .solution {
    section {
      button {
        border: white solid 2px;
        color: white;
        height: 3em;
        background-color: hsla(0, 0%, 0%, 0.5);
        border-radius: 0.5em;
      }
    }
  }

  .sol-bg {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 0.5fr;
    column-gap: 5vw;
    grid-template-rows: 1fr 4fr 1fr;
    > section {
      display: flex;
      flex-direction: column;
      grid-column: 3 / 4;
      grid-row: 2 / 3;

      > h3 {
        color: cornflowerblue;
      }
      > p {
        color: gray;
      }
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  .sol-pp {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1.5fr 2.5fr;
    background-color: white;
    color: black;

    > div:nth-of-type(1) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > div:nth-of-type(2) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    > div:nth-of-type(3) {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    > div:nth-of-type(3) {
      grid-column: 5 / 7;
      grid-row: 2 / 3;
    }

    > div:nth-of-type(4) {
      grid-column: 5 / 7;
      grid-row: 3 / 4;
    }
  }

  .trend {
    display: grid;
    gap: 5em;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 2fr 3fr 3fr 1fr;
    background-color: black;
    color: white;

    > div:nth-of-type(1) {
      display: flex;
      justify-content: space-around;
      grid-column: 1 / 5;
      grid-row: 1;
    }

    > div:nth-of-type(2) {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    > div:nth-of-type(3) {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }
    > div:nth-of-type(4) {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }
    > div:nth-of-type(5) {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
    }
  }

  .sol-brief {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    background-color: var(--darkgray);

    > section:nth-of-type(1) {
      padding: 5vmin;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    > section:nth-of-type(1) > div {
      display: grid;
    }

    > section:nth-of-type(1) > div > div:nth-of-type(1) {
      grid-column: 1 / 2;
    }

    > section:nth-of-type(1) > div > div:nth-of-type(2) {
      grid-column: 2 / 3;
    }

    > img {
      grid-column: 2 / 3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      color: gray;
    }

    div {
      > div {
        /* background-color: var(--darkgray); */
        padding: 1em;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .sol-highlights {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    > section {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    > h2 {
      margin: 10vw;
    }

    > section > h3 {
      margin: 5vw;
      grid-column: 1 / 2;
    }

    > section > p {
      margin: 5vw;
      grid-column: 2 / 3;
    }
  }

  footer {
    margin-right: 5vw;
    margin-left: 5vw;
    height: auto;
    display: grid;
    justify-items: center;
    gap: 2vw;
    grid-template-columns: 1fr 0.9fr 0.4fr;
    grid-template-rows: minmax(12rem, max-content);
    img {
      height: 100%;
      object-fit: scale-down;
    }
    > section:nth-of-type(1) {
      grid-column: 1 / span 1;
      display: grid;
      grid-template-rows: repeat(3 minmax(3rem, 10vh));
    }

    > section:nth-of-type(2) {
      grid-column: 2 / span 1;
      display: grid;
      gap: 2vw;
      grid-template-columns: 1fr 2.5fr;
    }

    > section:nth-of-type(3) {
      grid-column: 3 / span 1;
      display: grid;
      grid-template-rows: auto 2em;
    }

    > section:nth-of-type(3) {
      grid-column: 3 / span 1;
      display: grid;
      grid-template-rows: auto 2em;
    }

    > section:nth-of-type(3) > div:nth-of-type(2) {
      display: flex;
      justify-content: space-around;
    }
  }
}
