---
layout: layouts/base.njk
eleventyNavigation:
key: Solutions
order: 1
title: 解决方案
---
<section class="hero-grid bg-black">
  <img class="col-start-1 col-span-7" src="/img/02-sol/Project background.png"></img>
  <article class="hero-article col-start-8 col-span-5 mx-24">
    <h1>方案背景</h1>
    <h5 class="text-blue-400">提升产业链现代化水平</h5>
    <p>
      {{ "作为新一代信息通信技术与工业经济深度融合产物，工业互联网集关键基础设施、全新产业生态和新型应用模式于一身，对促进互联网与实体经济融合，支撑制造强国和网络强国建设，提升产业链现代化水平，推动经济高质量发展和构建新发展格局具有重要意义。工业互联网已连续四年被写入政府工作报告，工业和信息化部也印发《工业互联网创新发展行动计划（2021-2023年）》，支持工业互联网发展。" | safe }}
    </p>
  </article>
</section>
<section class="hero-grid grid-rows-6 text-black bg-white">
  <h1 class="row-start-1 row-span-1 align-top col-span-full">
    行业痛点
  </h1>
  <img class="col-start-4 col-span-6 row-span-full" src="/img/02-sol/Industry pain points.png"></img>
  <article class="col-start-2 col-span-3 row-start-2 row-span-2 z-0 flex flex-col gap-6 mr-16">
    <h3 class="text-right">设备难管理</h3>
    <h5>企业无法实时掌握设备的分布、运行情况、生产数据等信息，缺乏健全的设备全生命周期管理档案，维护信息碎片化，断序严重</h5>
  </article>

  <article class="col-start-2 col-span-3 row-start-4 row-span-2 z-0 flex flex-col gap-6 mr-16">
    <h3 class="text-right">
      运维周期长
    </h3>
    <h5>设备遍布各地，无法及时诊断设备故障原因，响应不及时；运维和技术人员亲自到现场检修费时费力，修复效率低，售后成本高</h5>

  </article>

  <article class="col-start-9 col-span-3 row-start-2 row-span-2 z-0 flex flex-col gap-6">

    <h3>设备多样化</h3>
    <h5>工业上存在众多设备，厂家林立，每种设备都有不同的设备通讯协议，数据形式千差万别，仅靠企业自身很难实现互通，且数据安全得不到保障</h5>

    </article>

  <article class="col-start-9 col-span-3 row-start-4 row-span-2 z-0 flex flex-col gap-6">

    <h3>数据缺反馈</h3>
    <h5>企业对实时生产数据得不到反馈，缺乏对设备故障、效率的分析，没有可靠的数据依据；设备厂家担心维修宝贵经验流失；产品研发得不到实际设备运行数据反馈，无法有针对性的进行技术改进，进而提升产品竞争力
    </h5>

  </article>


</section>
<section class="hero-grid grid-rows-6 gap-8 h-screen bg-black">
  <h2 class="row-start-1 row-span-1 col-span-full">发展趋势</h2>

<article class="trend-article row-start-2 col-start-3">
      <h3 class="text-center">从<em>“零散管理”</em>到<em>“全生命周期管理”</em> </h3>
      <h5>从原有的设备“散养”模式，到“集中”联网统一管理，提供从设备出厂、安装、生产、维护、报废的全生命周期管理，实时掌握设备情况。 </h5>
</article>



<article class="trend-article row-start-2 col-start-7">
      <h3 class="text-center">从<em>“事后维护”</em>到<em>“智能预警”</em></h3>
      <h5>针对设备部件损耗、运行异常、工作故障，依托设备数据，建立智能预警模型，从事后到事前，及时预警、提前维护。</h5>
      </article>





<article class="trend-article row-start-4 col-start-3">
      <h3 class="text-center">从<em>“现场维修”</em>到<em>“远程运维”</em></h3>
      <h5>从原有设备出现问题派遣人员赶赴现场维护，到远程实时查看设备故障信息，控制设备，调整参数，以及利用智能眼镜等可视化装备进行远程协</h5>
      </article>




<article class="trend-article row-start-4 col-start-7">
      <h3 class="text-center">从<em>“出厂固化”</em>到<em>“持续迭代”</em></h3>
      <h5>从原有的设备出厂功能、算法固化，到持续迭代升级设备的功能、算法，始终保持产品的竞争力。</h5>
      </article>



</section>
<!-- <article class="solution sol-brief">
  <!--
      5G
        人工智能
  大数据
    物联网
    -->
  <section>
    <h2>方案简介</h2>
    <div>
      <div>
        <h3>核心</h3>
        <h4>睿极智造 工业互联平台</h4>
      </div>
      <div>
        <h3>技术</h3>
        <h4>5G+人工智能+ 大数据+物联网</h4>
      </div>
    </div>
    <p>
      为满足工业用户生产制造信息化、数字化和智能化的转型升级需求，睿极智能推出专业的数据私有化工业互联网解决方案。本方案基于睿极智能自主研发的“睿极智造工业互联平台”，以工业互联网平台为核心，利用“5G+人工智能+大数据+物联网”技术，通过多种网络设备，完成数据联网、接入和分析，实现各系统之间数据互通共享，提供设备管理、状态感知、数据统计、智能分析、故障预测、报警推送、远程管理、智能运维、远程协助和局部安全防护等功能服务。
    </p>
  </section>
  <img src="/img/06_02_2014_manul_Pallass-cat_1.jpg">
</article>
<article class="">
  <h2>亮点与特色</h2>
  <section>
    <h3>广泛安全的设备接入</h3>
    <p>具备海量的设备接入和海量数据的并发交互能力，设备支持直连和网关接入等多种接入方式。 对设备采集的数据进行抽象建模，形成“物模型”，做到协议标准化和数据结构化。
      设备信令交互和数据传输均采用动态密钥私有加密算法，确保全链路数据可靠、可信、安全。</p>
  </section>
  <section>
    <h3>设备全生命周期管理</h3>
    <p>
      可实现设备的全生命周期管理，覆盖设备的添加、激活、删除、状态、位置定位、运行数据、产量数据、远程控制等各环节。还可对接企业CRM、ERP系统，关联设备的客户信息、维护维修记录等。基于设备采集的数据，可实时进行设备状态监测、健康状态分析、故障异常推送、历史数据追溯等。
    </p>
  </section>
  <section>
    <h3>图像数据采集回传分析</h3>
    <p>依托睿极智能视频图像的传输和处理能力，网关可将工业相机采集的视频图像实时传输至后台处理，并进行算法训练，持续提升算法的效果，更新后的算法可通过OTA的方式对设备进行远程升级。从而不断提升产品的视觉分析效果和市场竞争力。
    </p>
  </section>
  <section>
    <h3>可视化远程运维协作</h3>
    <p>依托海量设备数据的积累，建立预测分析模型来预测设备的异常、故障、损耗情况，达到提前预知、提前维护、减少设备故障、提高设备使用寿命。设备出现问题时，可通过远程诊断、远程双向音视频协助等方式，分析并解决故障。</p>
  </section>
  <section>
    <h3>局部安全防护</h3>
    <p>依托睿极智能视频图像的传输和处理能力，网关可将工业相机采集的视频图像实时传输至后台处理，并进行算法训练，持续提升算法的效果，更新后的算法可通过OTA的方式对设备进行远程升级。从而不断提升产品的视觉分析效果和市场竞争力。
    </p>
  </section>
  <section>
    <h3>纯私有化部署</h3>
    <p>考虑到客户在企业性质、机房资源分配和数据业务方面的便利性、安全性与合规性的不同需求，系统支持公有云、私有云、企业自建服务器、公私混合等多种部署方式，架构灵活，数据可控。</p>
  </section>
</article> -->
