---
layout: layouts/base.njk
eleventyNavigation:
  key: Solutions
  order: 1
  title: 解决方案
---
<article class="solutions">
  <article class="solution" style='
    display: grid;
    grid-template-columns: 60% 35% 5%;
    grid-template-rows: 30%;
    background-image: url("/img/06_02_2014_manul_Pallass-cat_1.jpg");
    background-size: contain;
    background-clip: border-box;
    '>
    <section style="
      grid-column: 2;
      grid-row: 3;
    ">
      <h2 style="
        font-size: 3rem;
      ">方案背景</h2>
      <h3 style="
        font-size: 2rem;
        color: blue;"
      >提升产业链现代化水平</h3>
      <p style="color: gray;">{{ "作为新一代信息通信技术与工业经济深度融合产物，工业互联网集关键基础设施、全新产业生态和新型应用模式于一身，对促进互联网与实体经济融合，支撑制造强国和网络强国建设，提升产业链现代化水平，推动经济高质量发展和构建新发展格局具有重要意义。工业互联网已连续四年被写入政府工作报告，工业和信息化部也印发《工业互联网创新发展行动计划（2021-2023年）》，支持工业互联网发展。" | safe }}</p>
    </section>
  </article>
  <article class="solution" style='
    display: grid;
    grid-template-columns: 60% 35% 5%;
    grid-template-rows: 30%;
    background-image: url("/img/06_02_2014_manul_Pallass-cat_1.jpg");
    background-size: contain;
    background-clip: border-box;
    '>
    <section style="
      grid-column: 2;
      grid-row: 3;
    ">
      <h2 style="
        font-size: 3rem;
      ">行业痛点</h2>
      <ul>
        <li>
          <h3>设备难管理</h3>
          <p>企业无法实时掌握设备的分布、运行情况、生产数据等信息，缺乏健全的设备全生命周期管理档案，维护信息碎片化，断序严重</p>
        </li>
        <li>
          <h3>
            运维周期长
          </h3>
          <p>设备遍布各地，无法及时诊断设备故障原因，响应不及时；运维和技术人员亲自到现场检修费时费力，修复效率低，售后成本高</p>
        </li>
      </ul>
      <ul>
        <li>
          <h3>设备多样化</h3>
          <p>工业上存在众多设备，厂家林立，每种设备都有不同的设备通讯协议，数据形式千差万别，仅靠企业自身很难实现互通，且数据安全得不到保障</p>
        </li>
        <li>
          <h3>数据缺反馈</h3>
          <p>企业对实时生产数据得不到反馈，缺乏对设备故障、效率的分析，没有可靠的数据依据；设备厂家担心维修宝贵经验流失；产品研发得不到实际设备运行数据反馈，无法有针对性的进行技术改进，进而提升产品竞争力
</p>
        </li>
      </ul>
      <h3 style="
        font-size: 2rem;
        color: blue;"
      >提升产业链现代化水平</h3>
      <p style="color: gray;">{{ "作为新一代信息通信技术与工业经济深度融合产物，工业互联网集关键基础设施、全新产业生态和新型应用模式于一身，对促进互联网与实体经济融合，支撑制造强国和网络强国建设，提升产业链现代化水平，推动经济高质量发展和构建新发展格局具有重要意义。工业互联网已连续四年被写入政府工作报告，工业和信息化部也印发《工业互联网创新发展行动计划（2021-2023年）》，支持工业互联网发展。" | safe }}</p>
    </section>
  </article>
  <article class="solution">
    <section style="grid-column: 3;">
      <h2>发展趋势</h2>
      <h3>从“零散管理”到“全生命周期管理” </h3>
      <p>从原有的设备“散养”模式，到“集中”联网统一管理，提供从设备出厂、安装、生产、维护、报废的全生命周期管理，实时掌握设备情况。 </p>
      <h3>从“事后维护”到“智能预警”</h3>
      <p>针对设备部件损耗、运行异常、工作故障，依托设备数据，建立智能预警模型，从事后到事前，及时预警、提前维护。</p>
      <h3>从“现场维修”到“远程运维”</h3>
      <p>从原有设备出现问题派遣人员赶赴现场维护，到远程实时查看设备故障信息，控制设备，调整参数，以及利用智能眼镜等可视化装备进行远程协</p>
      <h3>从“出厂固化”到“持续迭代”</h3>
      <p>从原有的设备出厂功能、算法固化，到持续迭代升级设备的功能、算法，始终保持产品的竞争力。</p>
    </section>
  </article>
  <article class="solution">
    <section style="grid-column: 3;">
      <h2>A Good Boy</h2>
      <h3>Really really good</h3>
      <a href="/"><button>Smoosh the good boy</button></a>
    </section>
  </article>
  <article class="solution">
    <section style="grid-column: 3;">
      <h2>A Good Boy</h2>
      <h3>Really really good</h3>
      <a href="/"><button>Smoosh the good boy</button></a>
    </section>
  </article>
  <article class="solution">
    <section style="grid-column: 3;">
      <h2>A Good Boy</h2>
      <h3>Really really good</h3>
      <a href="/"><button>Smoosh the good boy</button></a>
    </section>
  </article>
</article>