---
layout: layouts/base.njk
eleventyNavigation:
  key: Solutions
  order: 1
  title: 解决方案
---
<article class="solutions">
<article class="solution">
  <!-- <img src="/img/06_02_2014_manul_Pallass-cat_1.jpg"></img> -->
  <p>Text about this solution</p>
  <a href="/"><button>Smoosh the good boy</button></a>
</article>
<section class="sol-pp">Pain Points</section>
<section class="sol-dt"></section>
<section class="sol-sd"></section>
<section class="sol-hf"></section>
</article>

<!-- {% set postslist = collections[ tag ] %} -->
<!-- {% for solution in collections.solutionList %} -->
<!-- {% endfor %} -->