---
eleventyExcludeFromCollections: true
permalink: "/debug.json"
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "nav":
      {% set navPages = collections.all | eleventyNavigation %}
      {{ navPages | dump | safe }}
}
