---
layout: layouts/base.njk
eleventyNavigation:
  key: Hardware
  parent: Products
  order: 1
  title: 硬件终端
---
<section class="hero-grid grid-cols-12 grid-rows-1">
  <article class="hero-article col-start-8 col-span-4 row-start-1 row-span-full">
    <h1>工业互联网关 B100</h1>
    <h5>
      <ul class="feature-grid">
        <li>硬件规格丰富</li>
        <li>工业协议丰富</li><li>上传数据灵活</li><li>程序调试</li><li>数据完整保障</li><li>边缘计算能力</li><li>网关远程配置</li>
      </ul>
    </h5>
    <a href="/products/hardware/b100.njk">
      <button class="btn-more">了解更多</button>
    </a>
  </article>
  <img class="col-span-full row-start-1 row-span-full" src="/img/04-prod-hard/B100.png"></img>
</section>
<section class="hero-grid grid-cols-12 grid-rows-1">
  <article class="hero-article col-start-2 col-span-4 row-start-1 row-span-full">
    <h1>智能眼镜 W101</h1>
    <h5>
      <ul class="feature-grid">
        <li>超低功耗</li><li>高清视频</li><li>无线传输</li><li>双向音频</li><li>第一人称视角</li><li>一键抓拍/录像</li>
      </ul>
    </h5>
    <a href="/products/hardware/w101">
      <button class="btn-more">了解更多</button>
    </a>
  </article>
  <img class="col-span-full row-start-1 row-span-full" src="/img/04-prod-hard/W101.png"></img>
</section>
