<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/output.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
</head>

<body>
  <header class="flex justify-around items-center">
    <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <nav class="w-1/2">
      {% set navPages = collections.all | eleventyNavigation %}
      {% set navPagesHtml = navPages | eleventyNavigationToHtml({
        listElement: "ul",
        listClass: "flex justify-around items-baseline",
        listItemClass: "flex-1",
        listItemHasChildrenClass: "nav-folder",
        activeListItemClass: "active-item",
        anchorClass: ""
      }) %}
      {{ navPagesHtml | safe }}
    </nav>
  </header>

  <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
    {{ content | safe }}
  </main>

  <footer>
    <section>
      <div>
        <h2>睿极智造</h2>
      </div>
      <div>
        <h3>睿极智能</h3>
        <h4>专业的数据私有化工业互联网平台提供商</h4>
      </div>
      <p>©2021 睿极智造工业互联网 皖ICP备15025143号</p>
    </section>
    <section>
      <div>
        <p>商务合作</p>
        <p>服务热线</p>
        <p>售后合作</p>
      </div>
      <div>
        <p>support@ruijii.com</p>
        <p>0551-64933380</p>
        <p>support@ruijii.com</p>
      </div>
    </section>
    <section>
      <img src="/img/RJI_wechat_306_306.png"></img>
      <div>
        <h4>关注微信公众号</h4>
      </div>
    </section>
  </footer>

    <!-- Current page: {{ page.url | url }} -->
</body>

</html>
